<header>
  <nav>
    <a href="/">Home</a>
    <a href="/writeups">Writeups</a>
    <a href="#">Blog (In progress)</a>
    <a href="https://www.linkedin.com/in/mickael-v-3351ba88/" target="_blank"
      >My Linkedin</a
    >
  </nav>
  <style>
    header {
      padding: 10px 20px;
      border-bottom: 1px solid #3c3c3c;
    }
    nav a {
      color: #00ff00;
      text-decoration: none;
      margin-right: 20px;
      font-family: monospace;
    }
    nav a:hover {
      text-decoration: underline;
    }
  </style>
</header>
